# IDE files.
/**/.idea/
/**/.vscode/
/**/.cursor/
# AI files.
/**/.claude/
/**/.codex/

# Dependencies & distribution files.
/**/node_modules/
/**/dist/
/**/build/
/**/out/
/**/*.tsbuildinfo

# Environment variables.
/**/*.env*

# Files related to the development process.
/.git/
/.gitignore
/.dockerignore
/.github/
/.husky/
/.prettierrc*
/.prettierignore
/.hadolint.yaml
/eslint.config.ts
/Dockerfile
/docker-compose*.yaml
/drizzle.config.ts

# Testing files.
/tests/
/tsconfig.test.json

# Operating system files.
/**/.DS_Store
/**/*.ini
