# Options related to the application.
# Environment that application will run in.
# Allowed values: "development", "production", "test".
NODE_ENV=

# Options related to the HTTP server.
# Port that application will listen on.
# Allowed values: 1-65535 (unsigned integer).
APP_PORT=
# Host that application will listen on.
APP_HOST=

# Options related to the Discord application.
# Token for the Discord's application, used to authenticate the application.
DISCORD_TOKEN=

# Options related to the database.
# URL of the database.
DATABASE_URL=
# Variables below are only used to configure the database engine in Docker Compose.
# You can leave them blank if you are not using Docker Compose.
# Port that the database will listen on.
# Allowed values: 1-65535 (unsigned integer).
DATABASE_PORT=
# Username of the database.
DATABASE_USERNAME=
# Password of the database.
DATABASE_PASSWORD=
# Name of the database.
DATABASE_NAME=

# Options related to the caching engine.
# URL of the caching engine.
# If it's unset, then the caching engine will not be disabled.
CACHE_URL=
# Variables below are only used to configure the caching engine in Docker Compose.
# You can leave them blank if you are not using Docker Compose.
# Port that the caching engine will listen on.
# Allowed values: 1-65535 (unsigned integer).
CACHE_PORT=
