# IDE files.
/**/.idea/
/**/.vscode/
/**/.cursor/
# AI files.
/**/.claude/
/**/.codex/

# Dependencies & distribution files.
/**/node_modules/
/**/dist/
/**/build/
/**/out/
/**/*.tsbuildinfo*

# Environment variables.
/**/*.env*
!/.env.example

# Operating system files.
/**/.DS_Store
/**/*.ini
